/*Main*/
body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  font-size: small;
  font-family: Arial,sans-serif;
}

/*Navs*/
footer {
  background-color: #f2f2f2;
  border-top: solid #e4e4e4;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.nav-header .right {
margin-top: -10px;
}

.nav-header .left {
  margin-top: 3px;
}

.nav-footer a {
  color: #666666;
}

ul {
  list-style-type: none;
  overflow: autohidden;
  padding: 20px 17px;
}

li.right {
  float: right;
  display: flex;
  align-items: center;
}

li.left {
  float: left;
}

/*links*/

a {
  color: black;
  margin: 0 10px;
}

a:link {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/*misc*/

.c {
  text-align: center;
}

.logo {
  padding-top: 109px;
  text-align: center;
}

/*Form*/

.searchbar {
  text-align: center;
}

input[type=text] {
  display: block;
  width: 75%;
  height: 44px;
  padding: 12px 20px;
  margin: 25px auto 25px auto;
  box-sizing: border-box;
  border: 1px solid #dddddd;
  box-shadow: 0.5px 1px 3px #dfdfdf;
}

input[type=text]:hover {
  box-shadow: 0.5px 2.5px 6px #c6c6c6;
}

input[type=submit] {
  background-color: #f5f5f5;
  border: 1px solid #f2f2f2;
  color: #757575;
  font-weight: 500;
  padding: 10px 20px;
  margin: 3px;
}

input[type=submit]:hover {
  background-color: #f7f7f7;
  border: 1px solid #c6c6c6;
  box-shadow: 0px 1px 4px #dfdfdf;
  color: #000000;
}
